#div1{ border: 2px solid brown;
    background-color:green ;

}
h1 {color : gold;
  
padding-left:40%;
margin: 2%;


}

.div2{background-color: orange;
      border: 1px solid black;
      margin-top:10px;
      padding-left: 20%;
     padding: 150px;

         margin-left: 10%;
         margin-right:500px;
        position: left;
        margin-bottom:90px;
          
          
          
          padding-top: 30%;

         





}
        p {
            text-decoration: underline;
font-size:80px;






}





